<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bharat.firstproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AmanPratap"
            android:label="@string/aman_pratap" />
        <activity android:name=".Aditya"
            android:label="@string/aditya" />
        <activity android:name=".Bharat"
            android:label="@string/bharat" />
        <activity android:name=".KartikSaxena"
            android:label="@string/kartik_saxena" />
        <activity android:name=".PalakSood"
            android:label="@string/palak_sood" />
    </application>

</manifest>